<include file="Index/header" />
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9">
        <div class="banner">
          <div class="banner-left">
            <img src="/Public/images/banner.jpg" alt="">
          </div>
          <div class="banner-right">
            <ul>
              <li>
                <img src="/Public/images/img1.jpg" alt="">
              </li>
              <li>
                <img src="/Public/images/img2.jpg" alt="">
              </li>
              <li>
                <img src="/Public/images/img3.jpg" alt="">
              </li>
            </ul>
          </div>
        </div>
        <div class="news-list">
          <volist name="result['listNews']" id="vo">
          <dl>
            <dt><a target="_blank" href="/index.php?c=detail&id={$vo.news_id}">{$vo.title}</a></dt>
            <dd class="news-img">
              <a target="_blank" href="/index.php?c=detail&id={$vo.news_id}"><img src="{$vo.thumb}" alt="" width="189px" height="189px"></a>
            </dd>
            <dd class="news-intro">{$vo.description}
            </dd>
            <dd class="news-info">
              {$vo.keywords} <span>{$vo.create_time|date="Y-m-d H:i:s",###}</span> 阅读(0)
            </dd>
          </dl>
        </volist>
        </div>
      </div>
      <!--网站右侧信息-->
      <include file="Index/right" />
    </div>
  </div>
</section>
</body>
</html>