<include file="Index/header" />
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9">
        <div class="banner">
          <div class="banner-left">
            <a target="_blank" href="/index.php?c=detail&id={$result['topPicNews'][0]['news_id']}"><img width="670px" height="360px" src="{$result['topPicNews'][0]['thumb']}" alt=""></a>
          </div>
          <div class="banner-right">
            <ul>
              <volist name="result['topSmallNews']" id="vo">
              <li>
                <a target="_blank" href="/index.php?c=detail&id={$vo.news_id}"></a><img width="150" height="113" src="{$vo.thumb}" alt="{$vo.title}">
              </li>
              </volist>
            </ul>
          </div>
        </div>
        <div class="news-list">
          <volist name="result['listNews']" id="vo">
          <dl>
            <dt><a target="_blank" href="/index.php?c=detail&id={$vo.news_id}">{$vo.title}</a></dt>
            <dd class="news-img">
              <a target="_blank" href="/index.php?c=detail&id={$vo.news_id}"><img src="{$vo.thumb}" alt="" width="189px" height="189px"></a>
            </dd>
            <dd class="news-intro">{$vo.description}
            </dd>
            <dd class="news-info">
              {$vo.keywords} <span>{$vo.create_time|date="Y-m-d H:i:s",###}</span> 阅读(0)
            </dd>
          </dl>
        </volist>
        </div>
      </div>
      <!--网站右侧信息-->
      <include file="Index/right" />
    </div>
  </div>
</section>
</body>
</html>